

/* -------------------------- */
    /*NAVBAR*/
/* -------------------------- */
.navbar ul {
    margin: 0 auto 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 600px;
    text-align: center;
  }
  
  .navbar li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: relative;
    padding: 15px 0;
  }
  
  .navbar a {
    color: ivory;
    text-decoration: none;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font-family: 'Fredoka One',cursive;
    font-size: 20px;
  
  }
  
  .navbar a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .navbar a:hover::after {
    width: 100%;
    left: 0;
  }
  
  @media (max-width: 600px){
    ul{
        margin-top: auto;
    }
    .navbar a {
      font-size: 10px;
    }
  
    .navbar li {
      padding: 0;
    }
  }
  
  
  
  
  
  
  
  
  
  
  